@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #ffffff;
  --foreground: #111827;
  --foreground-2: #697280;
  
  --border: #e5e7eb;

  --shadow: rgba(0, 0, 0, 0.12);

  --svgIcon: #333333;
  --svgIconBackground: #dadada;
}

.dark {
  --background: #111827;
  --foreground: #f9fafb;
  --foreground-2: #b8b7b7;

  --border: #00255f;

  --shadow: rgba(0, 0, 0, 0.45);

  --svgIcon: #e5e7eb;
  --svgIconBackground: #1f2737;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground); 
  --color-foreground-2: var(--foreground-2);
  --color-border: var(--border);
  --color-shadow: var(--shadow);
  --color-svgIcon: var(--svgIcon);
  --color-svgIconBackground: var(--svgIconBackground)
}

body {
  @apply bg-background text-foreground transition-colors duration-300 ease-in-out;
}

@theme {
  --animate-float-1: float 30s ease-in-out 0s infinite;
  --animate-float-2: float 25s ease-in-out 5s infinite;
  --animate-float-3: float 32s ease-in-out 10s infinite reverse;

  @keyframes float {
    0% {
      transform: translate3d(0, 0, 0);
    }

    25% {
      transform: translate3d(200px, -10px, 0) scale(1.25);
    }

    50% {
      transform: translate3d(100px, 100px, 0) scale(1);
    }

    75% {
      transform: translate3d(-20px, -20px, 0) scale(1.20);
    }

    100% {
      transform: translate3d(0, 0, 0);
    }
  }
}

* {
  font-family: sans-serif, Serif, serif, monospace;
}

html {
  scroll-behavior: smooth;
}

p {
  font-size: 16px;
  color: var(--foreground-2);
}

@layer components {
  .fsvg {
    @apply w-10 h-10 bg-svgIconBackground flex justify-center items-center cursor-pointer rounded-full hover:bg-[#f69e0a] transition-colors duration-300;
  }
}

/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

@layer components {
  .btn {
    @apply text-[14px] text-center w-full py-2 rounded-3xl;
  }
  .primary-btn {
    @apply bg-[#FC9D0F] hover:bg-[#ffa408] transition-colors duration-300;
  }
  .secondry-btn {
    @apply bg-[#FFFFFF] hover:bg-[#fffbf1] transition-colors duration-300;
  }
}

label {
  font-weight: bold;
  display: flex;
  margin-bottom: 5px;
  background-color: var(--color-background);
}

.formInput {
  display: block;
  width: 400px;
  color: var(--foreground);
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  /* background-color: var(--background); */
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-control {
  margin-bottom: 20px;
}

.error {
  /* color: red; */
  font-size: 12px;
  text-align: left;
}
