@import "tailwindcss";

*{
  font-family: sans-serif, Serif, serif , monospace;
}

html{
  scroll-behavior: smooth;
}


p{
  color: rgb(105, 105, 105);
}

@layer components {
  .fsvg {
    @apply w-10 h-10 bg-slate-100 flex justify-center items-center cursor-pointer rounded-full hover:bg-[#f69e0a] transition-colors duration-300
  }
}

/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}