@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #ffffff;
  --foreground: #111827;
  --primary: #2563eb;
}

.dark {
  --background: #111827;
  --foreground: #f9fafb;
  --primary: #60a5fa;
}

* {
  font-family: sans-serif, Serif, serif, monospace;
  transition: all 0.3s ease-in-out;
}

html {
  scroll-behavior: smooth;
}

p {
  font-size: 14px;
}

@layer components {
  .fsvg {
    @apply w-10 h-10 bg-slate-100 flex justify-center items-center cursor-pointer rounded-full hover:bg-[#f69e0a] transition-colors duration-300;
  }
}

/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

@layer components {
  .btn {
    @apply text-[14px] text-center w-full py-2 rounded-3xl;
  }
  .primary-btn {
    @apply bg-[#FC9D0F] hover:bg-[#ffa408] transition-colors duration-300;
  }
  .secondry-btn {
    @apply bg-[#FFFFFF] hover:bg-[#fffbf1] transition-colors duration-300;
  }
}

@layer base {
}

label {
  font-weight: bold;
  display: flex;
  margin-bottom: 5px;
}

.formInput {
  display: block;
  width: 400px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-control {
  margin-bottom: 20px;
}

.error {
  color: red;
  font-size: 12px;
  text-align: left;
}
